body {
    background: rgb(243, 241, 241);
}
.items-header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 5px;
    padding: 15px; 
    margin-bottom: 0px;
    margin-right: 0px;
    padding-right: 7px;
    position: relative;
}
.body-wrapper{
    max-width: 1000px;
    margin: 0 auto;
}
.filters-wrapper{
    border-radius: 5px;
    background: white;
    margin: 25px 5px;
    display: flex;
}
.filters-wrapper > .toggleButton{
    font-weight: 400;
}
.toggleButtonTitle{
    margin-left: -7px;
    margin-bottom: 5px;
}
.found-items{
    padding: 5px;
    padding-top: 10px;
    margin: auto;
    font-weight: 400;
}
.dropdown-items{
    margin: auto;
}