.header{
    z-index: 100;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.3);
    /* background: lightblue; */
    background: #55acee;
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    position: sticky;
    top: 0;
    border-radius: 0px 0px 7px 7px;
}
.header__logo{
    height: 60px;
}
.header__buttons{
    /* width: 150px; */
    display: flex;
    justify-content: space-between;
}
.header__buttons img{
    height: 25px;
}
.header__button{
    display: flex;
    align-items: center;
    height: 100%;
    color: black;
    transition: all .3s;
    cursor: pointer;
}
.header__button:first-of-type{
    margin-right: 25px;
}
.header__button:hover{
    color: blue;
}
.header__button-text{
    padding-left: 5px;
    font-size: 14px;
    font-weight: 500;
}
.badge{
    position: absolute;
    padding: 2px 6px;
    background: black;
    bottom: 4px;
    color: white;
    font-weight: 400;
    border-radius: 100%;
}